:root {
    --background: #0d1117;
    --color: #c9d1d9;
}

body {
    background-color: var(--background);
    color: var(--color);
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.logo {
    max-width: 50px;
}

figure {
    text-align: center;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.profile-image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.profile-name {
    font-size: 26px;
    color: #333;
}

.work-description {
    padding: 1em;
    border: 1px solid #8b949e;
    border-radius: 5px;
    line-height: 1.5;
}

.explore-button {
    background-color: #008CBA;
    /* Change this to your preferred color */
    border: none;
    color: white;
    /* Change this to your preferred color */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    font-family: Arial, sans-serif;
    /* Change this to your preferred font */
}

.explore-button:hover {
    background-color: rgb(238, 14, 14);
    /* Change this to your preferred color */
    color: black;
    /* Change this to your preferred color */
}

.work-button {
    background-color: #008CBA;
    /* Change this to your preferred color */
    border: none;
    color: white;
    /* Change this to your preferred color */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    font-family: Arial, sans-serif;
    /* Change this to your preferred font */
}

.work-button:hover {
    background-color: rgb(238, 14, 14);
    /* Change this to your preferred color */
    color: black;
    /* Change this to your preferred color */
}

.profile-button {
    background-color: #008CBA;
    /* Change this to your preferred color */
    border: none;
    color: white;
    /* Change this to your preferred color */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    font-family: Arial, sans-serif;
    /* Change this to your preferred font */
}

.profile-button:hover {
    background-color: rgb(238, 14, 14);
    /* Change this to your preferred color */
    color: black;
    /* Change this to your preferred color */
}

.button-overview,
.button-write,
.button-sign,
.button-share {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button-overview:hover,
.button-write:hover,
.button-sign:hover,
.button-share:hover {
    background-color: #ec1313;
}

/* Overview and Write have a similar structure */
.overview-content,
.write-content {
    padding: 20px;
    font-size: 18px;
    width: 500px;
    /* Adjust this value as needed */
    height: 300px;
    /* Adjust this value as needed */
}

.sign-content,
.share-content {
    padding: 20px;
    font-size: 18px;
    width: 500px;
    /* Adjust this value as needed */
    height: 300px;
    /* Adjust this value as needed */
}

.work-navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.work {
    display: flex;
    justify-content: center;
}