:root {
  --main-font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --main-line-height: 1.5;
  --main-font-weight: 400;
  --light-color: rgba(211, 16, 16, 0.87);
  --dark-color: #213547;
  --background-color-light: #242424;
  --background-color-dark: #e90808;
  --link-color: #646cff;
  --link-color-hover: #535bf2;
  --button-background-color: #1a1a1a;
  --button-border-color-hover: #646cff;

  font-family: var(--main-font);
  line-height: var(--main-line-height);
  font-weight: var(--main-font-weight);
  color-scheme: light dark;
  color: var(--light-color);
  background-color: var(--background-color-light);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: var(--main-font-weight);
  color: var(--link-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--link-color-hover);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: var(--main-font-weight);
  font-family: inherit;
  background-color: var(--button-background-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--button-border-color-hover);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--dark-color);
    background-color: var(--background-color-dark);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #e60d0d;
  }
}
